.req {
	color:red;
}
.btn {
	margin-left:10px;
	outline:none;
}
html,body{
	height:100%;
} 
.main{
	height:100%;
	background-color:#cb0000;
}
.home{
	position: relative; 
	text-align: center;
	top:25%;

}
#title{
	font-family:Verdana;
	font-size:48px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:capitalize;
	color:#fff;
	margin:0;
}
.simple{
	background:#F8F8F8;
	color:#403C3C;
	border:2px solid #9E9393;
	border-radius:23px ;
	font-size:17px ;
	height: 20px ;
	line-height:20px ;
	width: 250px ;
	padding: 13px ;
	box-shadow: -4px 10px 15px #540000; 
	-webkit-box-shadow: -4px 10px 15px #540000; 
	-moz-box-shadow: -4px 10px 15px #540000; 
	outline:none;
}
.button {
	background:    #900;
	background:    -webkit-linear-gradient(#c00, #900);
	background:    linear-gradient(#c00, #900);
	border-radius: 10px;
	color:         #fff;
	display:       inline-block;
	padding:       8px 20px;
	font:          normal 700 19px/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	margin:10px;
	border-color: #900;
	outline:none;
}
.button:focus, .button:hover{
	background:    #900;
	background:    -webkit-linear-gradient(#900,#c00);
	background:    linear-gradient(#900,#c00);
	border-radius: 10px;
	color:         #fff;
	display:       inline-block;
	padding:       8px 20px;
	font:          normal 700 19px/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	margin:10px;
	border-color: #900;
	outline:none;
}
.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
} 
.datagrid {
	font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	border: 2px solid #990000; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}
.datagrid table td, .datagrid table th { 
	padding: 14px 10px; 
}
.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #CC0000), color-stop(1, #990000) );
	background:-moz-linear-gradient( center top, #CC0000 5%, #990000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC0000', endColorstr='#990000');
	background-color:#CC0000; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #B01C26; 
} 
.datagrid table thead th:first-child { 
	border: none; 
}
.datagrid table tbody td { 
	color: #80141C; 
	border-left: 1px solid #F7CDCD;
	font-size: 12px;
	font-weight: normal; 
}
.datagrid table tbody .alt td { 
	background: #F7CDCD; 
	color: #990000; 
}
.datagrid table tbody td:first-child { 
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}
.datagrid table tfoot td div { 
	border-top: 1px solid #990000;
	background: #F7CDCD;
} 
.datagrid table tfoot td { 
	padding: 0; 
	font-size: 12px 
} 
.datagrid table tfoot td div{ 
	padding: 2px; 
}
.datagrid table tfoot td ul { 
	margin: 0; 
	padding:0; 
	list-style: none; 
	text-align: right; 
}
.datagrid table tfoot  li { 
	display: inline; 
}
.datagrid table tfoot li a { 
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #990000;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990000), color-stop(1, #990000) );
	background:-moz-linear-gradient( center top, #990000 5%, #990000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#990000');
	background-color:#990000; 
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
	text-decoration: none;
	border-color: #80141C; 
	color: #FFFFFF; 
	background: none; 
	background-color:#991821;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
	position: fixed !important; 
}
#results td{
	font-weight: bold;
	font-size: 15px
}
#results tr:hover, tr:focus{
	background-color: #f8cecf;
}
.col-centered{
	margin:0 auto;
	float:none;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.iframe
{
	width:100%;
	height: 100%;
}
#recipePhoto
{

}
#recipeBody
{
	background-color:#c00;
	color: white;
}
h3{
	font-family:Verdana;
	font-size:30px;
	font-style:italic;
	font-weight:bold;
	text-decoration:none;
	text-transform:capitalize;
	color:#fff;
	margin:0;
}
h4{
	font-family:Verdana;
	font-size:24px;
	font-style:normal;
	text-decoration:none;
	text-transform:capitalize;
	color:#fff;
	margin:0;
}
.list-unstyled
{
	list-style-type: none;
}
.listItem
{
	list-style-type: none;
	font-family:Verdana;

}
