.req {
	color:red;
}
.btn {
	margin-left:10px;
}
html,body{
	height:100%;
	background-color:#cb0000;
} 
.home{
	position: relative; 
	text-align: center;
	top:25%;

}
#title{
	font-family:Verdana;
	font-size:48px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:capitalize;
	color:#fff;
	margin:0;
}
#name{
	background:#F8F8F8;
	color:#403C3C;
	border:2px solid #9E9393;
	border-radius:23px ;
	font-size:17px ;
	height: 20px ;
	line-height:20px ;
	width: 250px ;
	padding: 13px ;
	box-shadow: -4px 10px 15px #540000; 
	-webkit-box-shadow: -4px 10px 15px #540000; 
	-moz-box-shadow: -4px 10px 15px #540000; 
	outline:none;
}
.button {
	background:    #900;
	background:    -webkit-linear-gradient(#c00, #900);
	background:    linear-gradient(#c00, #900);
	border-radius: 10px;
	color:         #fff;
	display:       inline-block;
	padding:       8px 20px;
	font:          normal 700 19px/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	margin:10px;
	border-color: #900;
	outline:none;
}
.button:focus, .button:hover{
	background:    #900;
	background:    -webkit-linear-gradient(#900,#c00);
	background:    linear-gradient(#900,#c00);
	border-radius: 10px;
	color:         #fff;
	display:       inline-block;
	padding:       8px 20px;
	font:          normal 700 19px/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	margin:10px;
	border-color: #900;
	outline:none;
}